<button style="
    position: absolute;
    right: -10%;
    top: 45%;
    width: 8%;
    height: 8%;
">&gt;</button>


<button style="
    position: absolute;
    left: -10%;
    top: 45%;
    width: 8%;
    height: 8%;
">&lt;</button>

.left-btn{
    position: absolute;
    right: -10%;
    top: 45%;
    width: 8%;
    height: 8%;
}

.right-btn{
    position: absolute;
    left: -10%;
    top: 45%;
    width: 8%;
    height: 8%;
    content: ">"
}